header , nav , aside , section , article , footer {
    display: block;
}

.wrapper {
	width: 80% !important;
	margin-right: auto;
	margin-left: auto;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#header {
	margin: auto;
	width: 100%;
	text-align: center;
}

#header #title {
	font-size: 80px;
	font-family: Quicksand;
	color: #000;
	text-shadow: 2px 2px grey;
	margin-top: 20px !important;
	margin-bottom: 0px !important;
	font-weight: normal;
}

#header #subtitle {
	font-size: 40px;
	font-family: Quicksand;
	color: #000;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	font-weight: normal;
}

#header #subsubtitle {
	font-size: 30px;
	font-family: Quicksand;
	color: #000;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	font-weight: normal;
}

#college {
	display: block;
}
 
#school {
	display: block;
}

#college .circulardiv svg, #school .circulardiv svg {
	margin-left: auto;
	margin-right: auto;
	width: auto;

}

#college #name {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 46px;
    letter-spacing: -3.5px;
    color: #198f93;  
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 5% !important;
    left: 40% !important;
	cursor: pointer;   
    text-decoration: none;
}

#school #name {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 46px;
    letter-spacing: -3.5px;
    color: #198f93;  
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 25% !important;
    left: 40% !important;
	cursor: pointer;   
    text-decoration: none;
}

#content {
	margin-top: 50px;
}

.tab {
    height: auto;
    width: auto;
    overflow: auto;
    display: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    border-bottom: 0.5px solid grey;
}

.tab a {
	color: darkgrey;
	text-decoration: none;
}

.tab a:hover {
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	color: red;
	text-decoration: none;
}

.tab > ul > li{
	border-bottom: 0.5px solid grey;
	border-top: 0.5px solid grey;
	padding-top: 20px;
	padding-bottom: 20px;
}

#tab1 dl {
	width: 100%;
	display: block;
}

#tab1 > ul > li {
	text-decoration: none;
	list-style: none;
	width: 33%;
	display: block;
	float: left;
	text-align: center;
	font-family: Quicksand;
	font-size: 30px;
}

#tab2 > ul > li {
	text-decoration: none;
	list-style: none;
	width: 33%;
	display: block;
	float: left;
	text-align: center;
	font-family: Quicksand;
	font-size: 30px;
}

.subtab1 {
    display: block;
    margin-top: 100px;
    width: 100% !important;
    font-family: Quicksand;
    clear: both;
}

.subtab1 dl {
	width: 25% !important;
	display: block !important;
	float: left !important;
}

.subtab1 li {
	clear: both;
	list-style: none !important;
	font-family: Quicksand;
	font-size: 20px !important;
}

#subtab1_1 li , #subtab1_1 h1 {
	text-align: center;
}

#subtab1_2 li , #subtab1_2 h1 {
	text-align: center;
}

#subtab1_3 li , #subtab1_3 h1 {
	text-align: center;
}

.subtab2 {
    display: block ;
    margin-top: 100px;
    width: 100% !important;
}

.subtab2 dl {
	width: 25% !important;
	display: block !important;
	float: left !important;
}

.subtab2 li {
	clear: both;
	list-style: none !important;
	font-family: Quicksand;
	font-size: 20px !important;
}

#subtab2_1 li , #subtab2_1 h1 {
	text-align: center;
}

#subtab2_2 li , #subtab2_2 h1 {
	text-align: center;
}

#subtab2_3 li , #subtab2_3 h1 {
	text-align: center;
}

li.a.active {
	color: black;
}

@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);
  	border-radius: 50%;}
  100% {border-color: hsl(255, 100%, 50%);
  border-radius: 50%;}
}

.rainbow_border{
  border: 2px solid hsl(0, 100%, 50%);
  -webkit-animation: rainbow 1s infinite alternate;
}

#contact_us {
	width: 100%;
	background-color: #fbfbfb;
	clear: both;
	display: block;
}

#contact_us li {
    list-style: none;
    width: 50%;
    text-align: center;
    float: left;

    font-family: Oswald;
    font-size: 30px;

    margin-top: 50px;

}

#contact_us #contact {
	text-decoration: none;
    color: grey;
    padding-left: 25%;
}

#contact_us #career {
	text-decoration: none;
    color: grey;
    padding-right: 25%;
}

#form {
	width  : 35%;
	height : 498px;
	margin : 0 auto;
	background: #F8F8f8;
	margin-top: 20px !important;
	clear: both;
	display: block;
}

#name {
	position: relative;
	display: block;
}

#contact {
	position: relative;
	display: block;
}

#email {
	position: relative;
	display: block;
}

#suggestions {
	position: relative;
	display: block;
}

#subscribe {
	display: block;
	padding-left:25%;
	padding-right: 25%;
}



form label {
	width: 20%;
	float: left;
}

textarea {
  display : block;
  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 340px;
  height  : 360px;
  resize  : none;
  overflow: auto;
}

button {
	padding      : 5px;
	font         : bold .6em sans-serif;
	border       : 2px solid #333;
	border-radius: 5px;
	background   : #f1f1f1;
	cursor       : pointer;

	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

button:hover {
	padding      : 8px;
    border-radius: 7px;
    background   : grey;
}

button:after {
  content: "+";
}

label {
	font-family: Quicksand;
}

input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
}

input {
    height: 2.5em; /* for IE */
    vertical-align: middle; /* This is optional but it makes legacy IEs look better */
}

