header , nav , aside , section , article , footer {
    display: block;
}

.wrapper {
	width: 100% !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#header {
	margin: auto;
	width: 100%;
	text-align: center;
}

#header #title {
	font-size: 80px;
	font-family: Quicksand;
	color: #07273a;
	margin-top: 20px !important;
	margin-bottom: 0px !important;
	font-weight: normal;
}

#header #subtitle {
	font-size: 40px;
	font-family: Quicksand;
	color: #133f59;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	font-weight: normal;
}

#content {
	margin-top: 50px;
}

#college {
	display: block;
	margin-left: : 0px;
	margin-right: 0px; 
	padding-right: 5%;
	padding-left: 25%;
	float: left;
}

#college img , #school img {
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

#college img:hover , #school img:hover {
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
}

#school{
	display: block;
	margin-left: : 0px;
	margin-right: 0px;
	padding-right: 25%;
	padding-left: 5%;
	float: right;
}